.body_1 {
    width: 400px;
    padding: 1em;
    border: 1px solid rgb(40, 3, 3);
    border-radius: .5em;
    margin: 1em;
    box-shadow: .25em .25em 0 rgb(122, 19, 19);
    background-color: rgb(132, 0, 0);
    
    }